@import '@fontsource/lobster';
@import '@fontsource/monomaniac-one';
@import '@fontsource/roboto';
@import 'tailwindcss';

body {
  background: linear-gradient(135deg, #081b29, #0a0a0a);
  color: rgb(0, 191, 255);
}


.font-lobster {
  font-family: 'Lobster', cursive;
}

.font-monomaniac {
  font-family: 'Monomaniac One', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}


html {
  scrollbar-width: thin;
  scrollbar-color:   rgb(0, 191, 255) #0a0a0a;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #0a0a0a;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 191, 255);;
}
